*,
*::after,
*::before {
	box-sizing: border-box;
}

::-moz-selection {
	background-color: var(--color-menuItem-hover);
	color: var(--black);
}
::selection{
	background-color: var(--color-menuItem-hover);
	color: var(--black);
}
::-webkit-input-placeholder {
}
:-moz-placeholder {
}
::-moz-placeholder {
}
:-ms-input-placeholder {
}
:placeholder-shown {
}

@font-face {
	font-family: 'Bottega Veneta';
	src: url('/css/fonts/BottegaVenetaRegular.eot');
	src: url('/css/fonts/BottegaVenetaRegular.eot?#iefix') format('embedded-opentype'),
			 url('/css/fonts/BottegaVenetaRegular.woff2') format('woff2'),
			 url('/css/fonts/BottegaVenetaRegular.woff') format('woff'),
			 url('/css/fonts/BottegaVenetaRegular.ttf') format('truetype'),
			 url('/css/fonts/BottegaVenetaRegular.svg#BottegaVenetaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Bottega Veneta';
	src: url('/css/fonts/BottegaVenetaBold.eot');
	src: url('/css/fonts/BottegaVenetaBold.eot?#iefix') format('embedded-opentype'),
			 url('/css/fonts/BottegaVenetaBold.woff2') format('woff2'),
			 url('/css/fonts/BottegaVenetaBold.woff') format('woff'),
			 url('/css/fonts/BottegaVenetaBold.ttf') format('truetype'),
			 url('/css/fonts/BottegaVenetaBold.svg#BottegaVenetaBold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

:root {
	--normalfont: 12px/20px 'Bottega Veneta',Arial,Helvetica,sans-serif;

	--hpad: calc(var(--pad) * .5);
	--pad: 20px;
}

h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }

body {
	margin: 0;
	--color-text: #000;
	--color-bg: #fff;
	--color-link: #000;
	--color-link-hover: #e63811;
	--color-menuItem-hover: #e63811;
	color: var(--color-text);
	background-color: var(--color-bg);
	font: var(--normalfont);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--cursor-stroke: #000;
	--cursor-fill: none;
	--cursor-stroke-width: 1px;

	-webkit-font-smoothing: antialiased;
	text-transform: uppercase !important;
}

/* Page Loader */
#preload {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-menuItem-hover);

	display: flex;
	justify-content: center;
	align-items: center;
}
/* page loader end */

/* cursor */
#cursor {
  --size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--size);
  width: var(--size);
  /* background-color: #000; */
	border: 1px solid var(--color-menuItem-hover);
  border-radius: 50%;
  transform: translate3d(
    calc(100vw * var(--cursor-x) - var(--size) / 2), 
    calc(100vh * var(--cursor-y) - var(--size) / 2), 
    0);
  pointer-events: none;
}
/* cursor end */

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover) !important;
	outline: none;
}

/* main */
main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

main > section {
	height: 100%;
	transition: all .3s ease;

	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	overflow: hidden;

	flex: 1;
	min-height: 47px;

	border-bottom: 1px solid var(--color-menuItem-hover);
}

main > section:last-child {
	border-bottom: 0px solid var(--color-menuItem-hover);
}

main > section.open {
	flex: 30;
}

main > section .title {
	transition: all .3s ease;
	
	border-bottom: 1px solid transparent;
	padding: 17px 0px 16px;
	line-height: 14px;
	/* width: 100%; */
	text-align: center;
	margin: auto;

	cursor: pointer;
}

main > section .title span:nth-child(2),
main > section.open .title span:nth-child(3) {
	display: inline;
}

main > section.open .title span:nth-child(2),
main > section .title span:nth-child(3) {
	display: none;
}

main > section.open .title {
	border-color: var(--color-menuItem-hover);
	width: 100%;
}

main > section .content {
	opacity: 0;
	height: 0%;
	transition: all .3s ease;
	padding: var(--pad);
	display: none;
	overflow: auto;
	width: 100%;
}

main > section.open .content {
	display: block;
	height: 100%;
	opacity: 1;
}
/* main end */

/* jobs */
.jobs-section .content {
	padding: 0px;
}

.job .media-wrapper {
	padding: var(--pad);
}

.job img {
	width: 33%;
	cursor: pointer;
	opacity: 0;
	transition: opacity .3s ease;
	transition-delay: .5s;
}

.job h4 {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  padding: 17px 0px 16px;
  line-height: 14px;
  width: 100%;
  text-align: center;
  margin: auto 0px;
	border-bottom: 1px solid var(--color-menuItem-hover);
	border-top: 1px solid var(--color-menuItem-hover);
}

.job:first-child h4 {
  border-top: 0px solid transparent;
}

.job img[src] {
	opacity: 1;
}
/* jobs end */

/* skills */
.skills-section .content {
	padding: 0px;
}

.skills {
  display: flex;
  flex-wrap: wrap;

	margin-left: -1px;
}

.skills .skill {
	padding: 17px;
  text-align: center;
  flex: 33.33333%;

	border-left: 1px solid var(--color-menuItem-hover);
	border-bottom: 1px solid var(--color-menuItem-hover);
}

.skills .empty.skill {
  flex: 33.33333%;
	border-bottom: 0px;
}

.skills .skill:last-child {
	border-left: 0px solid var(--color-menuItem-hover);
	border-bottom: 0px solid var(--color-menuItem-hover);
}
/* skills end */

/* about */
.about-section .content {
	padding: 0px var(--pad);
	max-width: 50%;
	border-left: 1px solid var(--color-menuItem-hover);
	border-right: 1px solid var(--color-menuItem-hover);
}
/* about end */