*,
*::after,
*::before {
	box-sizing: border-box;
}

::-moz-selection {
	background-color: white;
	color: black;
}
::selection{
	background-color: white;
	color: black;
}

@font-face {
	font-family: 'Staatliches';
	src: url('/css/fonts/Staatliches-Regular.eot');
	src: url('/css/fonts/Staatliches-Regular.eot?#iefix') format('embedded-opentype'),
			url('/css/fonts/Staatliches-Regular.woff2') format('woff2'),
			url('/css/fonts/Staatliches-Regular.woff') format('woff'),
			url('/css/fonts/Staatliches-Regular.ttf') format('truetype'),
			url('/css/fonts/Staatliches-Regular.svg#Staatliches-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


:root {
	--normalfont: 20px/26px 'Staatliches',Arial,Helvetica,sans-serif;
	--mediumfont: 32px/40px 'Staatliches',Arial,Helvetica,sans-serif;
	--bigfont: 40px/46px 'Staatliches',Arial,Helvetica,sans-serif;
	--hugefont: 60px/66px 'Staatliches',Arial,Helvetica,sans-serif;

	--hpad: calc(var(--pad) * .5);
	--pad: 20px;
	--dpad: calc(var(--pad) * 2);
}

.normalfont {
	font: var(--normalfont);
}

.mediumfont {
	font: var(--mediumfont);
	letter-spacing: 3px;
}

.bigfont {
	font: var(--bigfont);
	letter-spacing: 3px;
}

.hugefont {
	font: var(--hugefont);
	letter-spacing: 3px;
}

.outline {
	color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

* {
	box-sizing: border-box;
}

a, a:visited {
	color: inherit;
	text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	background-color: black;

	font: var(--normalfont);
}

main {
	position: absolute;
	top: var(--pad);
	left: var(--pad);
	right: var(--pad);
	bottom: var(--pad);
	
	border: 1px solid white;

	overflow: scroll;
}

header {
	display: flex;

	border-bottom: 1px solid white;
}

header .left-nav {
  display: flex;
  align-items: center;
  justify-content: center;

	border-right: 1px solid white;

  width: 170px;
  height: 170px;
}

header .left-nav a {
	text-align: center;
  display: inline-block;
}

header .right-nav {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  padding: var(--pad) 0px;
}

section {
	position: relative;
	border-bottom: 1px solid white;
}

section:last-child {
	border-bottom: none;
}

section .section-head {
	position: absolute;
  transform: translate(var(--pad),-50%);
  background-color: black;
  font-style: italic;
  border: 1px solid;
  padding: 5px 27px;
}

section .section-body {
	padding: 40px 20px;
	text-align: justify;
}