*,
*::after,
*::before {
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* white-space: pre-line; */
	/* border: 1px solid black; */
}

::-moz-selection {
	color: var(--secondary-color);
	background-color: var(--primary-color);
}
::selection{
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

@font-face {
	font-family: 'Staatliches';
	src: url('/css/fonts/Staatliches-Regular.eot');
	src: url('/css/fonts/Staatliches-Regular.eot?#iefix') format('embedded-opentype'),
			url('/css/fonts/Staatliches-Regular.woff2') format('woff2'),
			url('/css/fonts/Staatliches-Regular.woff') format('woff'),
			url('/css/fonts/Staatliches-Regular.ttf') format('truetype'),
			url('/css/fonts/Staatliches-Regular.svg#Staatliches-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--primary-color: black;
	--secondary-color: white;

	--normalfont: 20px/26px 'Staatliches',Arial,Helvetica,sans-serif;
	--mediumfont: 32px/40px 'Staatliches',Arial,Helvetica,sans-serif;
	--bigfont: 40px/46px 'Staatliches',Arial,Helvetica,sans-serif;
	--hugefont: 60px/66px 'Staatliches',Arial,Helvetica,sans-serif;

	--hpad: calc(var(--pad) * .5);
	--pad: 20px;
	--dpad: calc(var(--pad) * 2);
}

.normalfont {
	font: var(--normalfont);
}

.mediumfont {
	font: var(--mediumfont);
	letter-spacing: 3px;
}

.bigfont {
	font: var(--bigfont);
	letter-spacing: 3px;
}

.hugefont {
	font: var(--hugefont);
	letter-spacing: 3px;
}

.outline {
	color: var(--secondary-color);
  -webkit-text-fill-color: var(--secondary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color);
}

* {
	box-sizing: border-box;
}

a, a:visited {
	color: inherit;
	text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: normal;
}

body {
	font: var(--normalfont);
	margin: 0px; padding: 0px;
	min-height: 100vh;
	text-transform: lowercase;

	color: var(--primary-color);
	background-color: var(--secondary-color);
}

.content {
	padding: var(--pad);
	max-width: 900px;
	margin: auto;
}

.intro {
	min-height: 100vh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: var(--pad);
}

.intro h1 {
	font: var(--hugefont);
}

.body .skills .skill:last-child .dot {
	display: none;
}

.body section {
	margin-bottom: var(--dpad);
}

.body section:last-child {
	margin-bottom: 0;
}

.work {
	width: fit-content;
	margin-bottom: var(--pad);
}

.work:hover {
	text-decoration: underline;
	text-decoration-color: red;
}

.work a {
	display: block;
}

#hint {
	display: none;
}

.hint-button {
	cursor: pointer;
}

a[href="//"] {
	pointer-events: none;
}

.winbox {
	position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
	pointer-events: none;
}

.winbutton {
	position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
	z-index: 999;
	cursor: pointer;
}

.winbox img {
	height: 40%;
}