@media all and (max-width: 2560px){
  
}
@media all and (max-width: 1920px){
  
}
@media all and (max-width: 1680px){
  
}
@media all and (max-width: 1440px){
  
}
@media all and (max-width: 1280px){
  
}
@media all and (max-width: 1028px){
  
}
@media all and (max-width: 736px){
  /* utils */
  .maxw {
    max-width: unset;
    border-left: 0px solid var(--color-menuItem-hover);
    border-right: 0px solid var(--color-menuItem-hover);
  }
  /* utils end */

  /* cursor */
  #cursor {
    display: none;
  }
  /* cursor end */

  /* jobs */
  .job img {
    width: 50%;
  }
  /* jobs end */
}
@media all and (max-width: 540px){
  
}
@media all and (max-width: 420px){
  
}
@media all and (max-width: 340px){
  
}
