:root {
  --background: #fff;
  --text: #212121;
  --primary: #ffa000;
  --secondary: #CC0000;
  --header-bg: #f1f1f1;
}

[dark] {
  --background: #212121;
  --text: #fff;
  --primary: #ffa000;
  --secondary: #CC0000;
  --header-bg: #000;
}

#cursor-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: -1;
}

#cursor {
  position: absolute;
  height: 20px;
  width: 20px;

  opacity: 0;
  
  transform: translate(50%, 50%);

  top: -10px;
  left: -10px;

  border-radius: 50%;

  background-color: rgb(235, 233, 85);
}

body {
  font-size: 10pt;
  line-height: 14pt;
  margin: 0 4em;
  font-family: monospace;

  background-color: var(--background);
  color: var(--text);

  width: 730px;
}

header {
  background-color: var(--header-bg);
  padding: 2px;
}

a, a:visited {
  color: var(--primary);
  text-decoration: none;
}

.txt--right {
  text-align: right;
}
.txt--center {
  text-align: center;
}
.txt--left {
  text-align: left;
}
.txt--uppercase {
  text-transform: uppercase;
}
.txt--capitalize {
  text-transform: capitalize;
}
.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}

.row {
  display: flex;
  justify-content: space-between;
}

.main {
  padding: 2px;
}

.skill {
  opacity: 0;
}

.work {
  opacity: 0;
  transform: translateX(-120%);
}

section .title {
  font-weight: bold;
}
section .body {
  padding-left: 2em;
  text-align: justify;
}

#toggle-dark-light {
  cursor: pointer;
}

.responsive-bg {
  -webkit-background-size: contain !important;
  -moz-background-size: contain !important;
  -o-background-size: contain !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center center;
}