@font-face {
  font-family: PoiretOne;
  src: url("../font/PoiretOne-Regular.ttf");
}

body {
  background-color: #FFF;
  color: #000;
  font-family: PoiretOne, sans-serif;
  text-align: center;
  font-weight: bolder;
  margin: 0px;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  color: #22A7F0;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  text-align: left;
  width: fit-content;
  border-bottom: 1px black solid;
  line-height: 1.8em;
}

table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}

tr {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
  
  font-size: 1.5em;
  cursor: default;
  width: 100%;
  border-bottom: solid 2px black;
}

tr:hover {
  color: #22A7F0;
}

td {
  padding: 10px;
  font-weight: bold;
}

/*a .fa {
  margin-top: 7px !important;
  font-size: 2em !important;
  margin-left: 3px;
  margin-right: 3px;
}*/

.link-group a {
  margin-top: 7px !important;
  font-size: 2em !important;
  margin-left: 3px;
  margin-right: 3px;
}

a:hover {
  color: #d71a21;
}

hr {
  border: 0;
  height: 1px;
  width: 45%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(34, 167, 240, 0.75), rgba(0, 0, 0, 0));
}

nav.info-navbar a:hover {
  cursor: pointer;
  color: white;
}

tr {
  border-bottom-width: 1px;
}

nav.info-navbar a {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #22A7F0;
}

nav.go-up {
  position: fixed !important;
  bottom: 15px !important;
  right: 15px !important;
  font-size: 2em !important;
  background-color: black !important;
  padding: 5px !important;
  z-index: 102  ;
}

.center { 
  height: 200px;
  position: relative;
}

.center div.info-body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info {
  font-size: 1.5em;
  /*margin-top: 20%;*/
  height: 100%;
}

.info-navbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 9vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*text-align: center;*/
  z-index: 101;
}

.navbar-link {
  flex-grow: 1;
}

.info-body {
  width: 100%;
}

.section {
  margin-top: 10%;
  margin-left: 15px;
  margin-right: 15px;
}

.bio-body {
  font-size: 1.5em;
  /*margin-left: 50px;
  margin-right: 50px;*/
}

.footer {
  font-size: 1.5em;
  margin-top: 5%;
  padding-bottom: 9vh;
}

.cl-alizarin {
  color: #22A7F0;
}

.to-upper {
  text-transform: uppercase;
}

.low {
  color: #CF000F !important;
}

.average {
  color: #F5D76E !important;
}

.good {
  color: #3FC380 !important;
}

.very-good {
  color: #2ECC71 !important;
}